@page "/categories"
@using RecipeBlazorApp.Components
@inject HttpClient Http

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

@if (categories == null)
{
	<div class="spinner-border spinner-border-sm"></div>
}
else
{
	<div class="row row-cols-auto justify-content-center">
		@foreach (var category in categories)
		{
			<CategoryCard Category=@category OnCategoryDeleteClick=ShowDeleteModal />
		}
	</div>
	<Modal @ref="deleteModal">
		<Title>Are you sure you want to delete this category?</Title>
		<Body>
			<dl class="row">
				<dt>
					Category
				</dt>
				<dd>
					@deleteModalCategory
				</dd>
			</dl>
		</Body>
		<Footer>
			<button type="button" class="btn btn-primary">Delete Category</button>
			<button type="button" class="btn btn-secondary" @onclick="deleteModal.Close">Close</button>
		</Footer>
	</Modal>
}


@code {
	private List<string>? categories;
	private Modal? deleteModal;
	private string deleteModalCategory = string.Empty;
	protected override async Task OnInitializedAsync()
	{
		categories = await Http.GetFromJsonAsync<List<string>>("categories");
	}
	private void ShowDeleteModal(string categoryToBeDeleted)
	{
		deleteModalCategory = categoryToBeDeleted;
		deleteModal.Open();
	}
	private async Task DeleteCategoryAsync()
	{
		// delete category;
		categories = await Http.GetFromJsonAsync<List<string>>("categories");
		deleteModal.Close();
	}
}
