@page "/categories"
@using RecipeBlazorApp.Components
@inject HttpClient Http

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

@if (categories == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="row row-cols-auto justify-content-center">
		@foreach (var category in categories)
		{
			<CategoryCard Category=@category />
		}
	</div>
	<Modal @ref="modal">
		<Title>This is a <em>Title!</em></Title>
		<Body>

		</Body>
		<Footer>
			<button type="button" class="btn btn-primary">Save changes</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modal?.Close()">Close</button>
		</Footer>
	</Modal>
}


@code {
	private List<string>? categories;
	private Modal? modal;
	protected override async Task OnInitializedAsync()
	{
		//categories = await Http.GetFromJsonAsync<List<string>>("categories");
		string[] x = { "hi", "lol", "Fr ench", "French2", "French3", "French4", "French5", "French6", "French7" };
		categories = new(x);
	}
}
